[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==19.3b0"
isort = "==4.3.4"
"flake8" = "==3.7.7"
pre-commit = "==1.15.2"
seed-isort-config = "==1.6.0"
pytest-django = "==3.4.8"

[packages]
dj-database-url = "==0.5.0"
django-configurations = "==2.1"
django-debug-toolbar = "==1.11"
django-extensions = "==2.1.6"
Django = "==2.2.2"
gunicorn = "==19.9.0"
whitenoise = "==4.1.2"
"psycopg2-binary" = "==2.8.2"
requests = "==2.21.0"
"django-s3-storage" = "==0.12.4"
google-cloud-vision = "==0.36.0"
uvicorn = "==0.7.0"
Werkzeug = "==0.15.2"
djangorestframework = "==3.9.2"
django-filter = "==2.1.0"
django-crispy-forms = "==1.7.2"
coreapi = "==2.3.3"
pygments = "==2.3.1"
markdown = "==3.1"
django-cors-headers = "==2.5.2"
django-redis = "==4.10.0"
celery = {extras = ["redis"],version = "==4.2.1"}
structlog = "==19.1.0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
