[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==19.10b0"
isort = "==4.3.21"
"flake8" = "==3.8.4"
pre-commit = "==2.9.2"
seed-isort-config = "==2.2.0"
pytest-django = "==4.1.0"

[packages]
dj-database-url = "==0.5.0"
django-configurations = "==2.2"
django-debug-toolbar = "==3.1.1"
django-extensions = "==3.1.0"
Django = "==3.1.8"
gunicorn = "==20.0.4"
whitenoise = "==5.2.0"
"psycopg2-binary" = "==2.8.6"
requests = "==2.25.0"
"django-s3-storage" = "==0.13.4"
Werkzeug = "==1.0.1"
djangorestframework = "==3.12.2"
django-filter = "==2.4.0"
django-crispy-forms = "==1.10.0"
pygments = "==2.7.2"
markdown = "==3.3.3"
django-cors-headers = "==3.5.0"
django-redis = "==4.12.1"
celery = {extras = ["redis"],version = "==5.0.4"}
structlog = "==20.1.0"
uritemplate = "==3.0.1"
pyyaml = "==5.3.1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
