[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==19.3b0"
isort = "==4.3.21"
"flake8" = "==3.7.8"
pre-commit = "==1.18.3"
seed-isort-config = "==1.9.3"
pytest-django = "==3.5.1"

[packages]
dj-database-url = "==0.5.0"
django-configurations = "==2.1"
django-debug-toolbar = "==2.0"
django-extensions = "==2.2.3"
Django = "==2.2.6"
gunicorn = "==19.9.0"
whitenoise = "==4.1.4"
"psycopg2-binary" = "==2.8.3"
requests = "==2.22.0"
"django-s3-storage" = "==0.12.5"
google-cloud-vision = "==0.39.0"
uvicorn = "==0.9.0"
Werkzeug = "==0.16.0"
djangorestframework = "==3.10.3"
django-filter = "==2.2.0"
django-crispy-forms = "==1.7.2"
pygments = "==2.4.2"
markdown = "==3.1.1"
django-cors-headers = "==3.1.1"
django-redis = "==4.10.0"
celery = {extras = ["redis"],version = "==4.3.0"}
structlog = "==19.1.0"
uritemplate = "==3.0.0"
pyyaml = "==5.1.2"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
