{% extends "base.html" %}

{% load millify %}
{% load humanize %}

{% block content %}
<div class="flex self-start justify-center">
  <div class="w-full max-w-lg mb-4">
    {% include "contracts/partials/search.html" with url="entities" query=query placeholder="Busca por entidad gubernamental" %}

    <div class="mt-4">
      <p>Se encontraron <span class="font-bold text-grey-darkest">{{ entities.paginator.count|intcomma }}</span> entidades.</p>
    </div>

    <div class="mt-2">
      {% for entity in entities %}
        <a href="{% url 'entity' entity.slug %}" class="block py-4 border-b border-grey-light no-underline hover:bg-grey-lightest">
          <div class="text-xl font-bold text-grey-darkest">
            {{ entity }}
          </div>
          <div class="text-grey-darkest">Contratos: {{ entity.contracts_count }}</div>
          <div class="text-grey-darkest">Cuantía: ${{ entity.contracts_total|millify }}</div>
        </a>
      {% endfor %}

      {% if entities.number %}
        <div class="mt-4 text-center">
          {% if entities.has_previous %}
            <a class="no-underline text-blue hover:text-blue-darker mr-2" href="?q={{ query }}&page={{ entities.previous_page_number }}">&larr; anterior</a>
          {% endif %}

          {% for n in entities.paginator.page_range %}
            {% if entities.number == n %}
              <span class="font-bold text-blue-darker mr-2">{{ n }}</span>
            {% elif n > entities.number|add:'-3' and n < entities.number|add:'3' %}
              <a class="no-underline text-blue hover:text-blue-darker mr-2" href="?q={{ query }}&page={{ n }}">{{ n }}</a>
            {% endif %}
          {% endfor %}

          {% if entities.has_next %}
            <a class="no-underline text-blue hover:text-blue-darker" href="?q={{ query }}&page={{ entities.next_page_number }}">siguiente &rarr;</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
