{% extends "base.html" %}

{% load millify %}
{% load humanize %}

{% block content %}
<div class="my-4 mt-8 sm:mt-16">
  <div class="text-xl text-center">
    Durante el año fiscal
    <form action="" method="POST" class="inline-block relative">
      {% csrf_token %}
      <div class="inline-block relative">
        <select name="fiscal_year" class="block text-lg appearance-none w-full bg-white border-b border-grey-light hover:border-grey px-2 pr-6 rounded-none focus:outline-none focus:shadow-outline" onchange="this.form.submit()">
          {% for value, text in form.fields.fiscal_year.choices %}
            <option value="{{ value }}" {% if form.fiscal_year.value|stringformat:'s' == value|stringformat:'s' %}selected{% endif %}>{{ text }}</option>
          {% endfor %}
        </select>
        <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div>
    </form>
    se otorgaron <span class="font-bold text-grey-darkest">{{ contracts_count|intcomma }}</span> contratos por un total de <span class="font-bold text-grey-darkest">${{ contracts_total|millify }}</span>.
  </div>
</div>

<div class="flex items-center justify-center">
  <div class="w-full max-w-lg">
    {% include "contracts/partials/search.html" with url="search" placeholder="Busca contratos por entidad gubernamental, contratista, o palabra clave" %}
  </div>
</div>

<div class="flex items-center justify-center mt-8 sm:mt-16">
  <div class="lg:flex w-full">
    <div class="lg:w-1/3 mb-4 sm:mr-2 border rounded border-grey-light">
      <h3 class="p-2 text-center border-b border-grey-light">Contratos</h3>
      {% for contract in recent_contracts %}
        <a href="{% url 'contract' contract.slug %}" class="flex sm:h-32 p-2 border-b border-grey-light no-underline hover:bg-grey-lightest">
          <div class="flex-1 self-center">
            <div class="font-bold text-grey-darkest">
              {{ contract }} <span class="text-base text-grey-darker">${{ contract.amount_to_pay|millify }}</span>
            </div>
            <div class="text-grey-darkest">Otorgado: {{ contract.date_of_grant|date }}</div>
            <div class="text-grey-darkest">Entidad: {{ contract.entity|truncatechars:40 }}</div>
            <div class="text-grey-darkest">
              Contratistas:
              {% for contractor in contract.contractors.all %}
                {{ contractor }} {% if not forloop.last %}, {% endif %}
              {% endfor %}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
    <div class="lg:w-1/3 mb-4 sm:mr-2 border rounded border-grey-light">
      <h3 class="p-2 text-center border-b border-grey-light">Contratistas</h3>
      {% for contractor in contractors %}
        <a href="{% url 'contractor' contractor.slug %}" class="flex sm:h-32 p-2 border-b border-grey-light no-underline hover:bg-grey-lightest">
          <div class="flex-1 self-center">
            <div class="font-bold text-grey-darkest">
              {{ contractor|truncatechars:48 }}
            </div>
            <div class="text-grey-darkest">Contratos: {{ contractor.contracts_count }}</div>
            <div class="text-grey-darkest">Cuantía: ${{ contractor.contracts_total|millify }}</div>
          </div>
        </a>
      {% endfor %}

    </div>
    <div class="lg:w-1/3 mb-4 border rounded border-grey-light">
      <h3 class="p-2 text-center border-b border-grey-light">Entidades</h3>
      {% for entity in entities %}
        <a href="{% url 'entity' entity.slug %}" class="flex sm:h-32 p-2 border-b border-grey-light no-underline hover:bg-grey-lightest">
          <div class="flex-1 self-center">
            <div class="font-bold text-grey-darkest">
              {{ entity|truncatechars:48 }}
            </div>
            <div class="text-grey-darkest">Contratos: {{ entity.contracts_count }}</div>
            <div class="text-grey-darkest">Cuantía: ${{ entity.contracts_total|millify }}</div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
