{% load get %}

<html>
  <head></head>
  <body>
    <form action="" method="GET">
      <input type="text" name="q">
      <input type="submit">
    </form>
    {% for hit in response %}
      <p><a href="{% url 'contract' hit.meta.id %}">{{ hit.number }}</a></p>

      {% if hit.meta.inner_hits.document %}
        <p>Document</p>
        {% with text=hit.meta.inner_hits.document.hits.hits.0.highlight|get:"document.text" %}
          {{text|first|safe}}
        {% endwith %}
      {% endif %}

      {% if hit.meta.inner_hits.contractors %}
        <p>Contractor</p>
        {% with contractor_name=hit.meta.inner_hits.contractors.hits.hits.0.highlight|get:"contractors.name" %}
          {{contractor_name|first|safe}}
        {% endwith %}
      {% endif %}
      <hr>
    {% endfor %}
  </body>
</html>
