{% extends "base.html" %}

{% load humanize %}

{% block content %}
<ul class="list-reset flex border-b">
  <li class="-mb-px mr-1">
    <a class="no-underline bg-white inline-block py-2 px-4 text-blue hover:text-blue-darker font-semibold" href="#totales-header">Totales</a>
  </li>
  <li class="mr-1">
    <a class="no-underline bg-white inline-block py-2 px-4 text-blue hover:text-blue-darker font-semibold" href="#servicios-header">Servicios</a>
  </li>
</ul>

<div>
    {% include "contracts/partials/trends-totals.html" %}
</div>

<div>
    {% include "contracts/partials/trends-services.html" %}
</div>


{% endblock content %}
