<h2 id="servicios-header" class="p-2 sm:mt-4">Servicios</h2>
<div class="flex items-center justify-center mt-8 sm:mt-4">
    <div class="lg:flex w-full">
        <div class="lg:w-1/2 mb-4 sm:mr-2 border rounded border-grey-light">
        <h3 class="p-2 text-center border-b border-grey-light">Año Fiscal - {{ a.fiscal_year }}</h3>
        {% for item in a.data.services %}
        <div class="flex p-2 border-b border-grey-light no-underline">
            <div class="flex-1 self-center sm:h-32 overflow-y-auto">
                <div class="sm:h-12 font-bold text-grey-darkest">
                    {{ item.title }}
                </div>
                <div class="sm:h-20 text-grey-darkest">
                    {% for service in item.value %}
                    <a class="text-grey-darkest no-underline" href="{% url 'search'%}?service={{service.id}}">
                        <div class="text-grey-darkest hover:bg-grey-lightest p-2">
                            <div>Servicio: {{ service }}</div>
                            <div>
                                Groupo: {{ service.group }}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        <div class="lg:w-1/2 mb-4 sm:mr-2 border rounded border-grey-light">
        <h3 class="p-2 text-center border-b border-grey-light">Año Fiscal - {{ b.fiscal_year }}</h3>
        {% for item in b.data.services %}
        <div class="flex p-2 border-b border-grey-light no-underline">
            <div class="flex-1 self-center sm:h-32 overflow-y-auto">
                <div class="sm:h-12 font-bold text-grey-darkest">
                {{ item.title }}
                </div>
                <div class="sm:h-20 text-grey-darkest">
                    {% for service in item.value %}
                    <a class="text-grey-darkest no-underline" href="{% url 'search'%}?service={{service.id}}">
                        <div class="text-grey-darkest hover:bg-grey-lightest p-2">
                            <div>Servicio: {{ service }}</div>
                            <div>
                                Groupo: {{ service.group }}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>