{% load humanize %}
<h2 id="datos-generales-header" class="p-2 sm:mt-4">Datos Generales</h2>
<div class="flex items-center justify-center mt-8 sm:mt-4">
    <div class="lg:flex w-full">
        <div class="lg:w-1/2 mb-4 sm:mr-2 border rounded border-grey-light">
            <h3 class="p-2 text-center border-b border-grey-light">Año Fiscal - {{ a.fiscal_year }}</h3>
            <div class="flex sm:h-32 p-2 border-b border-grey-light hover:bg-grey-lightest">
                <div class="flex-1 self-center">
                    <a class="text-grey-darkest hover:text-black no-underline" href="{% url 'contract' a.data.general_data.contract_min_amount.slug %}">
                        <div class="font-bold text-grey-darkest">
                            Contrato con Menor Monto
                        </div>
                        <div class="text-grey-darkest">
                            Numero de Contrato: {{ a.data.general_data.contract_min_amount.number }}
                        </div>
                        <div class="text-grey-darkest">
                            Monto: ${{ a.data.general_data.contract_min_amount.amount_to_pay|intcomma }}
                        </div>
                    </a>
                </div>
            </div>
            <div class="flex sm:h-32 p-2 border-b border-grey-light hover:bg-grey-lightest">
                <div class="flex-1 self-center">
                    <a class="text-grey-darkest hover:text-black no-underline" href="{% url 'contract' a.data.general_data.contract_max_amount.slug %}">
                        <div class="font-bold text-grey-darkest">
                            Contrato con Mayor Monto
                        </div>
                        <div class="text-grey-darkest">
                            Numero de Contrato: {{ a.data.general_data.contract_max_amount.number }}
                        </div>
                        <div class="text-grey-darkest">
                            Monto: ${{ a.data.general_data.contract_max_amount.amount_to_pay|intcomma }}
                        </div>
                    </a>
                </div>
            </div>
            {% for item in a.data.general_data.totals %}
                <div class="flex sm:h-32 p-2 border-b border-grey-light hover:bg-grey-lightest">
                <div class="flex-1 self-center">
                    <div class="font-bold text-grey-darkest">
                        {{ item.title }}
                    </div>
                    <div class="text-grey-darkest">{{ item.value }}</div>
                </div>
                </div>
            {% endfor %}
        </div>
        <div class="lg:w-1/2 mb-4 sm:mr-2 border rounded border-grey-light">
            <h3 class="p-2 text-center border-b border-grey-light">Año Fiscal - {{ b.fiscal_year }}</h3>
            <div class="flex sm:h-32 p-2 border-b border-grey-light hover:bg-grey-lightest">
                <div class="flex-1 self-center">
                    <a class="text-grey-darkest hover:text-black no-underline" href="{% url 'contract' b.data.general_data.contract_min_amount.slug %}">
                        <div class="font-bold text-grey-darkest">
                            Contrato con Menor Monto
                        </div>
                        <div class="text-grey-darkest">
                            Numero de Contrato: {{ b.data.general_data.contract_min_amount.number }}
                        </div>
                        <div class="text-grey-darkest">
                            Monto: ${{ b.data.general_data.contract_min_amount.amount_to_pay|intcomma }}
                        </div>
                    </a>
                </div>
            </div>
            <div class="flex sm:h-32 p-2 border-b border-grey-light hover:bg-grey-lightest">
                <div class="flex-1 self-center">
                    <a class="text-grey-darkest hover:text-black no-underline" href="{% url 'contract' b.data.general_data.contract_max_amount.slug %}">
                        <div class="font-bold text-grey-darkest">
                            Contrato con Mayor Monto
                        </div>
                        <div class="text-grey-darkest">
                            Numero de Contrato: {{ b.data.general_data.contract_max_amount.number }}
                        </div>
                        <div class="text-grey-darkest">
                            Monto: ${{ b.data.general_data.contract_max_amount.amount_to_pay|intcomma }}
                        </div>
                    </a>
                </div>
            </div>
            {% for item in b.data.general_data.totals %}
            <div class="flex sm:h-32 p-2 border-b border-grey-light hover:bg-grey-lightest">
                <div class="flex-1 self-center">
                    <div class="font-bold text-grey-darkest">
                    {{ item.title }}
                    </div>
                    <div class="text-grey-darkest">{{ item.value }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>