{% load humanize %}
<h2 id="servicios-header" class="p-2 sm:mt-4">Servicios</h2>
<div class="flex items-center justify-center mt-8 sm:mt-4">
    <div class="lg:flex w-full">
        <div class="lg:w-1/2 mb-4 sm:mr-2 border rounded border-grey-light">
            <h3 class="p-2 text-center border-b border-grey-light">Año Fiscal - {{ a.fiscal_year }}</h3>
            <div class="flex p-2 border-b border-grey-light no-underline">
                <div class="flex-1 self-center">
                    <div class="sm:h-12 font-bold text-grey-darkest">
                        {{ a.data.services_totals.title }}
                    </div>
                    <div class="trends-services-max-h text-grey-darkest">
                    {% for service in a.data.services_totals.value %}
                        <a class="text-grey-darkest no-underline" href="{% url 'search'%}?service={{service.id}}">
                            <div class="text-grey-darkest hover:bg-grey-lightest p-2">
                                <div>
                                    <p>Servicio: {{ service.name }}</p>
                                    <p>Total: ${{service.total|intcomma}}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="flex p-2 border-b border-grey-light no-underline">
                <div class="flex-1 self-center">
                    <div class="sm:h-12 font-bold text-grey-darkest">
                        {{ a.data.services_groups_totals.title }}
                    </div>
                    <div class="trends-services-max-h text-grey-darkest">
                        {% for service in a.data.services_groups_totals.value %}
                        <a class="text-grey-darkest no-underline" href="{% url 'search'%}?service_group={{service.id}}">
                            <div class="text-grey-darkest hover:bg-grey-lightest p-2">
                                <div>
                                    <p>Servicio: {{ service.name }}</p>
                                    <p>Total: ${{service.total|intcomma}}</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:w-1/2 mb-4 sm:mr-2 border rounded border-grey-light">
            <h3 class="p-2 text-center border-b border-grey-light">Año Fiscal - {{ a.fiscal_year }}</h3>
            <div class="flex p-2 border-b border-grey-light no-underline">
                <div class="flex-1 self-center">
                    <div class="sm:h-12 font-bold text-grey-darkest">
                        {{ b.data.services_totals.title }}
                    </div>
                    <div class="trends-services-max-h text-grey-darkest">
                    {% for service in b.data.services_totals.value %}
                        <a class="text-grey-darkest no-underline" href="{% url 'search'%}?service={{service.id}}">
                            <div class="text-grey-darkest hover:bg-grey-lightest p-2">
                                <div>
                                    <p>Servicio: {{ service.name }}</p>
                                    <p>Total: ${{service.total|intcomma}}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="flex p-2 border-b border-grey-light no-underline">
                <div class="flex-1 self-center">
                    <div class="sm:h-12 font-bold text-grey-darkest">
                        {{ b.data.services_groups_totals.title }}
                    </div>
                    <div class="trends-services-max-h text-grey-darkest">
                        {% for service in b.data.services_groups_totals.value %}
                        <a class="text-grey-darkest no-underline" href="{% url 'search'%}?service_group={{service.id}}">
                            <div class="text-grey-darkest hover:bg-grey-lightest p-2">
                                <div>
                                    <p>Servicio: {{ service.name }}</p>
                                    <p>Total: ${{service.total|intcomma}}</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>