<nav class="flex items-center justify-between flex-wrap pb-6 border-b my-6">
  <div class="flex items-center flex-no-shrink mr-6 w-full text-center sm:text-left sm:mr-0 sm:mt-0 sm:w-auto">
    <h1 class="tracking-tight w-full text-center sm:w-auto">
      <a class="no-underline text-grey-darkest hover:text-black" href="{% url 'index' %}">Contratos de Puerto Rico</a>
    </h1>
  </div>
  <div class="flex mt-2 w-full text-center sm:text-left sm:mt-0 sm:w-auto">
    <div class="flex-grow">
        <a href="{% url 'search' %}" class="mr-4 no-underline font-bold inline-block text-grey-darkest hover:text-black hover:underline">
          Buscar
        </a>
      <a href="{% url 'entities' %}" class="mr-4 no-underline font-bold inline-block text-grey-darkest hover:text-black hover:underline">
        Entidades
      </a>
      <a href="{% url 'contractors' %}" class="mr-4 no-underline font-bold inline-block text-grey-darkest hover:text-black hover:underline">
        Contratistas
      </a>
      <a href="{% url 'trends' %}" class="no-underline font-bold inline-block text-grey-darkest hover:text-black hover:underline">
        Tendencias
      </a>
    </div>
  </div>
</nav>
