{% load static %}

<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}Contratos de Puerto Rico{% endblock title %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css"/>
  {% block extra_head %}{% endblock %}
</head>
<body class="font-sans font-normal text-black leading-normal">
  <div class="p-1 px-2 border-b bg-yellow">
    <span class="font-bold">Nota: </span>Trabajo en progreso; datos pueden estár incompletos, confirmar en <a class="text-black" href="https://consultacontratos.ocpr.gov.pr/">consultacontratos.ocpr.gov.pr</a>.
  </div>
  <div class="container mx-auto px-2 py-4 sm:p-0">
    {% include "common/header.html" %}
    {% block content %}{% endblock content %}

    <div class="text-center text-sm text-grey-dark mt-4 mb-8">
      <p>This website is <a class="text-grey-dark" href="https://github.com/TheIndexingProject/tracking-contratos-pr">open-source</a> and not affiliated with the Government of Puerto Rico.</p>
    </div>
  </div>

  {% block extra_body %}{% endblock %}
  {% include "common/analytics.html" %}
</body>
</html>
